* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.toolbar, .main-container {
    width: min(100vw, 90vh);
    min-width: 483px;
    display: flex;
    align-items: center;
}

.toolbar {
    width: min(100vw, 90vh);
    height: 8vh;
    min-width: 483px;
    min-height: 70px;
    margin: 1vh auto;
    border-radius: 2vh;
    background-color: #ADD8E6;
}

.main-container {
    width: min(100vw, 90vh);
    height: min(100vw, 90vh);
    min-width: 483px;
    min-height: 483px;
    margin: 0 auto;
    border-radius: min(5vw, 4.5vh);
    justify-content: center;
    background-color: #C8102E;
}

.main-container-grid {
    width: 90%;
    height: 90%;
    background-color: grey;
}
